:host {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    grid-template-columns: auto 1fr;
}

router-outlet {
    display: none;
}

.page-content {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-bottom: 96px;
    position: relative;
    overflow: auto;

    @media (max-width: 1200px) {
        padding-bottom: 32px;
        grid-column: 1/3;
    }
}

// app-dialogue-box {
//     position: absolute;
// }

app-nav-bar {
    display: contents;
}
