<h1 class="title">PohLes admin interface</h1>

<p class="wait-text" *ngIf="state > 2">
    <span [ngSwitch]="state">
        <span *ngSwitchCase="3">Došlo k chybě. Zkuste to prosím později, případně kontaktujte admina.</span>
        <span *ngSwitchCase="4">Nejste připojeni k internetu.</span>
    </span>
</p>

<div class="window">
    <h2 class="ignore-mobile">Login</h2>
    <p>You must be logged in to enter the system.</p>
    <form [formGroup]="loginForm" (submit)="submitLoginForm()">
        <input type="text" formControlName="username" placeholder="Username">
        <input type="password" formControlName="password" placeholder="Password" class="password">
        <button class="alt"
            [disabled]="(!loginForm.value.username) || (!loginForm.value.password) || state == 1 || state == 2">
            <i class="fa-icon fas fa-sign-in-alt" *ngIf="state != 1"></i>
            <span *ngIf="state != 1">Log in</span>
            <i class="fa-icon fas fa-circle-notch fa-spin" *ngIf="state == 1"></i>
        </button>
    </form>
    <!-- <button class="large secondary" (click)="registerClick()" [disabled]="state == 1 || state == 2">
            <i class="fa-icon fas fa-user-plus" *ngIf="state != 2"></i>
            <span *ngIf="state != 2">Register</span>
        <i class="fa-icon fas fa-circle-notch fa-spin" *ngIf="state == 2"></i>
    </button> -->
</div>